<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grantech.cinnagen.solife">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        tools:ignore="GoogleAppIndexingWarning"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <service
            android:name=".services.SolifeMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" android:screenOrientation="portrait" android:label="@string/app_name" />
        <activity android:name=".activities.FragmentsActivity" android:screenOrientation="portrait" android:label="@string/home_injection" />
        <receiver android:name=".utils.AlarmReceiver"/>

    </application>

</manifest>